/* 
Core Layout
Last Updated: 2015-03-20
*/

// Global reset
* {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  @include box-sizing(border-box);
}

// Body reset

html, body { 
  height: 100%; 
  width: 100%; 
  user-select: none;
  cursor: default
}

body {
  background: red;
  overflow: hidden;
  padding: 8px 20px 20px;
}

.window {
  background-image: -webkit-linear-gradient(-180deg, #FBFCFF 0%, #ECECEC 100%);
  border-radius: $border-radius-base;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 11px 25px 2px rgba(0,0,0,0.27);
  // box-shadow: 0px -1px 0px 0px #B6B6B6;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 425px;
  margin: 0 auto;
  // pointer-events: none;
  position: relative;
  text-align: left;
  width: 340px;

  &:before {
    content: '';
    border-bottom: 5px solid #FBFCFF;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    top: -5px;
    height: 0; 
    width: 0; 
  }
}

.container {
  border-radius: $border-radius-base;
  height: 100%;
  overflow: hidden;
  -webkit-app-region: no-drag;
}

// Sections
// ---------------

.header {
  // background: #FBFCFF;
  border-bottom: 1px solid #B6B6B6;
  height: 255px;
  overflow: hidden
}

.login .header {
  height: 69px
}

.content {}
.footer {
  height: 170px;
  @include position( absolute, null 0 0 0);
  overflow: hidden
}

// Form
// ---------------

.input {
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #D6D6D6;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
}