.footer {
  border-top: 1px solid #B6B6B6;
  height: $footer-open-height;
  @include position( absolute, null 0 0 0);
  z-index: $zindex-footer;
}

.footer__content {
  transform: translateY(-$footer-close-height);
}

.footer_logged {
  height: $footer-close-height;
  padding: 10px;
}

.footer__gears {
  background: url(../src/icons/gears.svg) center no-repeat;
  float: right;
  height: 16px;
  width: 16px;
}

.login__warning {
  color: $brand-warning;
  font-size: $font-size-small;
  height: 30px;
  line-height: 30px;
}