.logo {
  background: black;
  border-radius: 999px;
  height: 72px;
  margin: 0 auto 16px;
  width: 72px;
}

.welcome {
  background: #FBFCFF;
  border-bottom: 1px solid #B6B6B6;
  // box-shadow: 0px -1px 0px 0px #B6B6B6;
  padding: 45px 20px 40px;
  text-align: center;
  
  h1 {
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
  }

  p {
    color: #999;
    font-size: 14px;
    line-height: 18px;
  }
}

.login {
  color: #999;
  padding: 20px;
  text-align: center;

  .input {
    width: 100%;
  }

  p {
    font-size: 11px;

    &.form-control {
      margin-bottom: 10px;
    }
  }
}