.footer {
  background-image: -webkit-linear-gradient(#FBFCFF 0%, #ECECEC 100%);
  border-top: 1px solid #B6B6B6;
  border-radius: 0 0 4px 4px;
  height: $footer-open-height;
  @include position( absolute, null 0 0 0);
  z-index: $zindex-footer;
}

.footer__content {
  transform: translateY(-$footer-close-height);
}

.footer_logged {
  height: $footer-close-height;
  padding: 10px;
}

.footer__updater {
  float: left;
  height: 18px;
  overflow: hidden;
  width: 160px;
}

.footer__updater__holder {
  transition: all 250ms ease;
  padding-top: 18px;

  &.available {
    transform: translateY(-18px);
  }

  &.download {
    transform: translateY(-33px);
  }

  &.installing {
    transform: translateY(-49px);
  }

  &.restart {
    transform: translateY(-69px);
  }

  p {
    color: #999;
    font-size: 11px;
    height: 18px;
    line-height: 18px;

    strong {
      color: #333;
      font-weight: bold
    }
  }
}

.footer__updater__progress {
  height: 13px;
  background: #aaa;

  div {
    height: 100%;
    background: #4183C4;
    width: 0;
  }
}

.footer__gears {
  background: url(gears.svg) center no-repeat;
  float: right;
  height: 16px;
  margin-top: 2px;
  width: 16px;
  position: relative;
  top: 1px;
}

.footer__login__warning {
  color: $brand-warning;
  font-size: $font-size-small;
  height: 30px;
  line-height: 30px;
}

.footer_offline,
.footer__login {
  color: #999;
  height: 170px;
  padding: 0 20px;
  text-align: center;

  &.shake {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: shake;
  }

  .input {
    width: 100%;

    &[disabled] {
      background-color: #eee;
    }
  }

  p {
    font-size: 11px;

    &.form-control {
      margin-bottom: 10px;
    }
  }
}


.footer__login {
  overflow: hidden;
  transition: height $core-duration $bezier;
}

@keyframes shake {
  0%, 100% { transform: translate3d(0, 0, 0) }
  10%,
  30%,
  50%,
  70%,
  90% { transform: translate3d(-10px, 0, 0) }
  20%,
  40%,
  60%,
  80% { transform: translate3d(10px, 0, 0) }
}

.footer_offline {
  display: flex;

  p {
    font-size: 14px;
    margin: auto;
  }
}