.logo {
  background: url(squid-header.png ) center no-repeat;
  border-radius: 999px;
  height: 82px;
  margin: 0 auto 8px;
  width: 82px;
}

.header__welcome {
  background: #FBFCFF;
  // box-shadow: 0px -1px 0px 0px #B6B6B6;
  opacity: 1;
  padding: 45px 20px 40px;
  text-align: center;
  // transition: opacity 500ms ease;
  height: $header-open-height;
  
  h1 {
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
  }

  p {
    color: #999;
    font-size: 14px;
    line-height: 18px;
  }
}

.header__connected {
  background: #FBFCFF;
  height: $header-close-height;
  position: relative;
}

.card {
  padding: 17px 0 0 15px;
  position: relative
}

.card__picture {
  border-radius: 999px;
  float: left;
  height: 34px;
  overflow: hidden;
  width: 34px;

  img {
    background: url(avatar-default.png) center no-repeat;
    border-radius: 50%;
  }
}

.card__profile {
  float: left;
  margin-left: 10px;
}

.card__name {
  color: #999;
  display: block;
  font-size: 12px;
  margin: 2px 0 5px;
}

.card__repos {
  color: #666;
  font-size: 14px;

  strong {
    color: #333;
  }
}

.header__search {
  background: url(search.svg) center no-repeat;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 25px;
  width: 20px;
}