
.repositories {
  @include position( absolute, $header-close-height 0 $footer-close-height 0);
  overflow: hidden;
  visibility: hidden;
  z-index: $zindex-repo;
  // transition: all 0ms linear;
  // transition-delay: 0s;
}

.repositories__content {
  height: 383px;
}

// .repositories,
.repositories__content,
.repositories__list {
  transition: all 300ms $bezier;
}

.repositories__content {
  transform: translateY(-$repo-search_height);
}

.repositories__list {
  height: ( $content-height - $header-close-height - $footer-close-height );
}
.repositories__search {
  border-bottom: 1px solid #B6B6B6;
}

.repositories__search .input {
  background: #fff;
  height: 30px;
  line-height: 30px;
  margin: 5px 15px;
  width: calc( 100% - 30px);
  padding: 0 5px;
  font-size: 13px;
}

.repositories__list {
  ul { 
    height: calc( 100% + 1px );
    list-style: none;
    overflow-y: auto;
  }

  li {
    background: #fff;
    display: block;
    border-bottom: 1px solid #D6D6D6;
    height: 64px;
    line-height: 64px;
    padding: 0 15px;
    position: relative;

    // &:before {
    //   background: #D6D6D6;
    //   bottom: -1px;
    //   content: '';
    //   display: block;
    //   height: 1px;
    //   left: 0;
    //   position: absolute;
    //   width: 0;
    // }
  }
}

.repo__label,
.repo__desc {
  @include text-truncate;
  max-width: $repo-label-width;
}

.repo__label {
  display: table-cell;
  font-size: 14px;
  height: 64px;
  line-height: 18px;
  vertical-align: middle;
}

.repo__name {
  color: #4183C4;
  font-weight: bold;
}

.repo__avatar {
  height: 100%;
  float: left;
  font-size: 0;
  margin-right: 10px;
  width: 34px;

  img {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle
  }
}

.repo__desc {
  color: #999;
  display: block;
  font-size: 11px;
}